@*@model CarRental.Models.SummaryCost*@
@using CarRental.Models;
@{
    ViewBag.Title = "_DetailsCostView";
}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><span style="font-weight: bold">Cost summary</span> detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @foreach (var item in (List<SummaryCost>)Session["summaryCost"])
        {
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    Car cost
                                </td>
                                <td>
                                    @item.carCost €
                                </td>
                            </tr>
                            <tr>
                                <td>Additional cost for place</td>
                                <td>
                                    @item.additionalCostPlace €
                                </td>
                            </tr>
                            <tr>
                                <td>Cost per day</td>
                                <td>
                                    @item.totalDayCost €
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total
                                </td>
                                <td>
                                    @item.totalCost €
                                </td>
                            </tr>
                        </tbody>
                    </table>
        }
    </div>

    <div class="modal-footer">
        <a href="@Url.Action("ContactDetails","Form")" class="btn btn-primary">Confirm</a>
    </div>
</div>

