@model IEnumerable<CarRental.Models.Car>
<div class="row no-gutters">
    @foreach (var item in Model)
    {
        <div class="col-6 col-md-4">
            <div style="cursor: pointer" onclick="DetailsModalCar(@item.ID_Car)">
                <div class="card h-100 text-center">
                    <span style="position: absolute; padding: 10px;">@item.CarClass.Name</span>
                    <img src="~/Images/@item.Photo" class="card-image-main" alt="@item.Model-@item.Brand">
                    <div class="card-body">
                        <h5 class="card-title">@item.Model @item.Brand</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade bd-example-modal-lg" id="modalDetails" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="containerModal">

        </div>
    </div>
</div>

<script>
function DetailsModalCar(id) {
        $.ajax({
            url: '/Cars/_Details/' + id, 
            dataType: 'html',
            success: function (data) {
                $('#containerModal').html(data);
                $('#modalDetails').modal('show');
            }
        });
    };
</script>